*{
    box-sizing: border-box;
}
.box{
    height: 10vh;
border: 3px solid red;
margin-left: 150px;
    background-color: aqua;
    width: 70%;
}
.box2{
    height: 10vh;
    background-color: aqua;
    width: 10%;
    margin-top: -80px;
    border: 3px solid red;
}
.box3{
    height: 80vh;
    background-color: aqua;
    border: 3px solid red;
    width: 10%;
    margin-top: 10px;
}